parseMultipartBody function throws error

<!--
Thank you for reporting a possible bug in amp.dev.

Please fill in as much of the below template as you're able.
-->

## 🐛 Bug Report

### Current behavior
We've created this email and tested with playground. We're able to receive it in inbox and functionality works fine. But, when we try to import the eml file into playground, it throws 'Invalid multipart body' error. 

The reason I'm importing the eml file is that we submitted this email for Google's approval and the team came back with this error. I don't think the email has any error but the email-loader has an error in rendering the eml file. 

Also, when the line 'This is a multi-part message in MIME format.' before the first --<boundary> is removed, the email is rendered into playground without issue.  😞 

Please also provide:
Attaching the eml file that has issue - https://drive.google.com/file/d/1m1D7sTevsC7zbJ1_OkNTwyDgV51ku19-/view?usp=sharing
Here's a screen recording as well - https://youtu.be/0McBAM8i1xg

### Expected behavior/code
EML file should be loaded when imported into playground - https://playground.amp.dev/?runtime=amp4email

### Reproduction procedure
Please provide the steps to reproduce the problem:

1. Import the attached eml into playground - throws error
2. Open the eml file in editor and remove line # 64 that says 'This is a multi-part message in MIME format.' & save
3. Import the eml file again - imports successfully.
 
- What browser are you using? - Chrome Version 109.0.5414.119 (Official Build) (arm64)
- What O/S are you using? - MacOS 13.0 (22A380) Ventura 


I also have the same issue. This email structure is correct. The line 'This is a multi-part message in MIME format.' is the preamble area (which is part of [RFC 1341 Section 7.2.1](https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html)) and should be allowed when validating the email. 

fixed! thanks a lot for the report!